.allsp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 1000px;
    width: 1000px;
    display: flex;
  
}



.allspleft{
 
    height: 1000px;
    width: 50%;
}
.allspleft img{
    height: 550px;
    width: 550px;
}
.allspright{
    height: 1000px;
    margin-left: 50px;
}
.allspright h3{
    margin-top: 20px;
    margin-left:0px;
    font-size: 40px;
    color: #f4b609;
}
.allspright p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.allsp input {
    height: 70px;
    width: 100%;
    background-color: red;
    padding: 0px;
    border: 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}





