*{margin: 0;padding: 0;}
.itemconbephai{
    margin-top: 20px;
    width: 265px;
    height: 405px;
 
    
}
.itemconbephai .divconphai{
    position: relative;
    width: 265px;
    height: 350px;
    

}
.itemconbephai .divconphai >a{
    text-decoration: none;
    color: black; 
    transition: 0.4s;
    position: absolute;
    z-index: 1;
    
}

.itemconbephai .divconphai a >span{
    font-size: 20px;
    font-family: segoe ui;
    line-height: 30px;
}

.itemconbephai .divconphai a >span:hover{
    color: red;
}

.itemconbephai > h3{
    color: rgb(226, 177, 85);
    margin-top: 30px;
}
.itemconbephai a >img.anhconbe {
    width: 100%;
    height: 313px;
    
    
}

.itemconbephai .divconphai::before{
    content:'';
    width: 100%;
    height: 313px;
    position: absolute;
    background-color: black;
    opacity: 0 ;
    transition: 0.4s;
    z-index: 2;
    
    
}
.itemconbephai:hover .divconphai::before{
    opacity: 0.4;
    
}
.itemconbephai .divconphai .chutrenphai {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-left: 60px;
    border: solid 1px white;
    width: 150px;
    margin-top: 110px;
    transform: scale(0);
    transition: 0.2s;
    opacity: 0.8;
    
}
.itemconbephai .divconphai .chutrenphai a{
    color: white;
    line-height: 30px;
    text-decoration: none;
    font-family: segoe ui;
    font-weight: bold;
    cursor: pointer;
    
}


.itemconbephai:hover .divconphai .chutrenphai{
   transform: scale(1);

}
.itemconbephai .divconphai .chutrenphai:hover {
    
    background-color: red;
    border: red;
}
.itemconbephai .divconphai .chutrenphai:hover a{
    color: black;
}


.itemconbephai .divconphai .chuduoiphai {
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-left: 60px;
    border: solid 1px white;
    width: 150px;
    margin-top: 150px;
    transform: scale(0);
    transition: 0.2s;
    opacity: 0.8;
    
    
}
.itemconbephai .divconphai .chuduoiphai:hover {
    
    background-color: red;
    border: red;
}
.itemconbephai .divconphai .chuduoiphai a{
    color: white;
    line-height: 30px;
    text-decoration: none;
    font-family: segoe ui;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.itemconbephai .divconphai .chuduoiphai:hover a{
    color: black;
}
.itemconbephai:hover .divconphai .chuduoiphai{
   transform: scale(1);

}
.popup{
    width: 1100px;
    margin: auto;
    height: 600px;
    
    position: fixed;
	
    top: -50px;
        
    left: 0;
        
    bottom: 0;
        
    right: 0;
        
    z-index: 101;
    background-color: white;
    box-shadow: 5px 10px 18px 5px rgb(112 50 50);
}
.popup .popcon{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    
}
.popup .popcon .close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-image: linear-gradient(-90deg, rgb(245, 11, 11), rgb(189, 136, 146));
    color: white;
}
.popup .popcontrai{
    width: 61%;
    height: 100%;
    
    margin-left: 2%;
    margin-right: 2%;
}
.wraper {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.slide {
    width: 100%;
    height: 78%;
    position: relative;
    border: solid #ebebeb 1px;
    margin-bottom: 2%;

}
.slide img{
    
    height: 100%;
    display: block;
    margin: auto;
}
 
.slide_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 1;
}
.slide_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 2;
    opacity: 0;
}
.slide_3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 3;
    opacity: 0;
}
.slide_4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index: 4;
    opacity: 0;
}
.nut {
    width: 100%;
    height: 20%;
   
   
}
.nut ul {
    
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.nut ul li {
    
    height: 100%;
    width: 20%;
    border: solid #ebebeb 1px;
    list-style: none;
    cursor: pointer;
}
.nut ul li img{
    width: 100%;
    height: 100%;
}
 
.nut ul li:hover {
   border: red 1px solid;
}
.ra{
    
    transition: 0.4s;
    opacity: 1;
}



.popup .popconphai{
    width: 32%;
    height: 100%;
    
    margin-right: 2%;
}
.popup .popconphai h2._1{
    color: rgb(41, 25, 25);
    margin-top: 20px;
    
}
.popup .popconphai h2._2{
    color: orange;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popup .popconphai p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popup .popconphai input#num{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}
.popup .popconphai a{
    
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    
}
.popup .popconphai .mua{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(-90deg, rgb(245, 11, 11), rgb(110, 78, 84));
    padding-top: 20px;
    border-radius: 15px;
}
.over{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
   
}